<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/novedades.css" />
    <script
      src="https://kit.fontawesome.com/7a70007765.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid head-content">
      <section>
        <h2>Bienvenido a la sección de novedades</h2>
        <p class="text-center">Aqui puedes adicionar, modificar o eliminar
          novedades</p>
      </section>
      <aside>
        <p class="m-3">Bienvenido/a de vuelta,
          {{nombre}}</p>
        <a href="/admin/login/logout" class="text-center"><i
            class="fa-solid fa-arrow-right-from-bracket"
          ></i>
          Cerrar sesion</a>
      </aside>
    </div>
    <button
      class="click-open-modal text-white justify-content-center"
      onclick="openModal('.modalAdd')"
    >
      <i class="fa-solid fa-plus"></i>
      Agregar Novedad
    </button>
    <section class="modalAdd">
      <div class="modal_container">
        <div class="modal_content">
          <h2>Adicionar novedad</h2>
          <form
            action="/admin/novedades/agregar"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <input
                type="text"
                class="form-control"
                name="titulo"
                placeholder="Ingresa el titulo de la novedad"
              />
            </div>
            <div class="mb-3">
              <textarea
                type="text"
                class="form-control"
                name="subtitulo"
                placeholder="Ingresa el subtitulo de la novedad"
              ></textarea>
            </div>
            <div class="mb-3">
              <label>Imagen
                <input
                  type="file"
                  class="form-control"
                  name="imagen"
                  id="imagen"
                  placeholder="Ingresa el subtitulo de la novedad"
                /></label>
            </div>
            <div class="mb-3">
              <textarea
                type="text"
                class="form-control"
                name="cuerpo"
                placeholder="Ingresa el cuerpo de la novedad"
              ></textarea>
            </div>
            <button
            type="button"
              class="close-modal btn btn-danger"
              onclick="closeModal('.modalAdd')"
            >Cerrar</button>
            <button
              type="submit"
              class="btn btn-primary"
              id="addBtn"
            >Adicionar</button>
          </form>
          <p
            id="errorMessage"
            class="error"
            style="color: red; display: none;"
          >Todos los campos son requeridos</p>

        </div>

      </div>
    </section>
    <section class="modalModif">
      <div class="modal_container1">
        <div class="modal_content">
          <h2>Modificar novedad</h2>
          <form
            action="/admin/novedades/modificar"
            method="post"
            enctype="multipart/form-data"
          >
            <input type="hidden" name="modifyModalId" id="modifyModalId" />
            <div class="mb-3">
              <label for="">Titulo</label>
              <input
                type="text"
                class="form-control"
                name="modifyModalTitulo"
                id="modifyModalTitulo"
              />
            </div>
            <div class="mb-3">
              <label for="sub">Subtitulo</label>
              <textarea
                type="text"
                class="form-control"
                name="modifyModalSubtitulo"
                id="modifyModalSubtitulo"
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="">Cuerpo</label>
              <textarea
                type="text"
                class="form-control"
                name="modifyModalCuerpo"
                id="modifyModalCuerpo"
              ></textarea>
            </div>
            <div class="mb-3">
              <p>
                <label for="imagen">Imagen:
                  <input
                    type="file"
                    class="form-control"
                    name="imagen"
                    id="imagen"
                  /></label>
              </p>
              <p>
                <label><input
                    type="checkbox"
                    name="img_delete"
                    id="img_delete"
                    value="1"
                  />Eliminar imagen actual</label>
                {{!-- <input
                  type="hidden"
                  name="img_original"
                  value="{{novedad.img_id}}"
                /> --}}
              </p>

            </div>
            <button
              class="close-modalModif btn btn-danger"
              type="button"
              onclick="closeModal('.modalModif')"
              
            >Cerrar</button>
            <button type="submit" class="btn btn-primary">Modificar</button>
          </form>
          {{#if error}}
            <p>{{message}}</p>
          {{/if}}

        </div>

      </div>
    </section>
    <main class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Imagen</th>
            <th scope="col">Acciones</th>

          </tr>
        </thead>
        <tbody>
          {{#each novedades}}
            <tr>
              <th scope="row">{{id}}</th>
              <td>{{titulo}}</td>
              <td id="img">{{{imagen}}}</td>
              <td>
                <div class="buttons">
                  <button
                    class="btn fa-solid fa-pen pencil"
                    data-novedad_id="{{id}}"
                    onclick="displayModifyModal({{id}},'{{titulo}}','{{subtitulo}}','{{cuerpo}}')"
                  >
                  </button>
                  <div class="trash">
                    <a class="delete" href="/admin/novedades/eliminar/{{id}}"><i
                        class="fa-solid fa-trash"
                      ></i></a>
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}

        </tbody>

      </table>
    </main>
    <script>

      
      
      function closeModal(modalClass) {
        const modal = document.querySelector(modalClass);
        modal.classList.remove("modal--show"); 
      } 
      
      function openModal(modalClass) {
        const modal = document.querySelector(modalClass);
        modal.classList.add("modal--show"); 
      }

      document.getElementById("addBtn").addEventListener("click", function (e) {
        const titulo = document.querySelector('input[name="titulo"]').value; 
        const subtitulo = document.querySelector('textarea[name="subtitulo"]').value;
        const cuerpo = document.querySelector('textarea[name="cuerpo"]').value; 
        if (titulo.trim() === "" || subtitulo.trim() === "" || cuerpo.trim() === "") { 
          e.preventDefault();
          document.getElementById("errorMessage").style.display = "block"; 
        } 
        });
      
      const modalModif = document.querySelector(".modalModif"); 
      
      /*function closeModal1() { 
        modalModif.classList.remove("modal--show");
        return false;     
      } */
      
      function displayModifyModal(novedadId, title, subTitle,novedadBody) { 
        let id = document.getElementById("modifyModalId");
        let titulo = document.getElementById("modifyModalTitulo"); 
        let subtitulo = document.getElementById("modifyModalSubtitulo"); 
        let cuerpo = document.getElementById("modifyModalCuerpo"); 
        
        id.value = novedadId;
        titulo.value = title; 
        subtitulo.value = subTitle; 
        cuerpo.value = novedadBody; 
        modalModif.classList.add("modal--show"); 
        }

    </script>
  </body>
</html>